<!--PRIMERA IMAGEN-->
<div id="p1"> 
  <%= image_tag "Morpho.jpg", class: "img-fluid", alt: "morpho" %>
</div>
<!--SEGUNDA IMAGEN-->
<div class="">
  <%= image_tag "n1.jpg", class: "img-fluid", alt:"n1" %>
</div>
<!--CAROUSEL-->
<div class="jumbotron bg-transparent m-5 p-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag "all3.jpg", class: "d-block w-100", alt:"all3"  %>  
        <div class="carousel-caption d-none d-md-block">
        <h5><strong>First slide label</strong></h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div> 
      </div>
      <div class="carousel-item">
        <%= image_tag "t4.jpg", class: "d-block w-100", alt:"t4" %>
        <div class="carousel-caption d-none d-md-block">
        <h5><strong>First slide label</strong></h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
      </div>
      <div class="carousel-item">
        <%= image_tag "presa.jpg", class:"d-block w-100", alt:"presa" %>
        <div class="carousel-caption d-none d-md-block">
        <h5><strong>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--CLASES-->
<div class="card text-center bg-dark text-white">
  <div class="card-header">
   <h3> Clases</h3>
  </div>
  <div class="card-body m-5">
    <h5 class="card-title">xxxxxxx</h5>
    <p class="card-text">Texto explicando.</p>
      <br>
      <%= link_to 'Agendar', calendars_index_path(@calendar), class:"btn btn-light" %>
    </div>
  </div>  
</div>
<!--TIENDA-->
<div class="jumbotron bg-transparent m-5 p-5">
  <div class="card-deck my-5">
    <div class="card">
      <%= image_tag "cuadros1.jpg", class:"card-img-top", alt:"cuadros" %>  
      <div class="card-body">
        <h5 class="card-title"><strong>Cuadros</strong></h5>
        <hr>
        <p class="card-text">Impresos en lienzo o papel fotográfico con montaje en cañuelas y parpastú.</p>
        <%= link_to 'Ver más', products_path(@product), class:'btn btn-secondary btn-sm' %>
      </div>
    </div>
    <div class="card">
      <%= image_tag "posters2.jpg", class:"card-img-top", alt:"posters2"%>  
      <div class="card-body">
        <h5 class="card-title"><strong>Posters</strong></h5>
        <hr>
        <p class="card-text">Impresos en papel fotográfico matte y brillante.</p>
       <%= link_to 'Ver más', products_path(@product), class:'btn btn-secondary btn-sm' %>
      </div>
    </div>
    <div class="card">
       <%= image_tag "sweter.jpg", class:"card-img-top", alt:"sweter"%>
      <div class="card-body">
        <h5 class="card-title"><strong>Poleras y sweters</strong></h5>
        <hr>
        <p class="card-text">Todas las tallas disponibles, colores y diseños.</p>
        <%= link_to 'Ver más', products_path(@product), class:'btn btn-secondary btn-sm' %>
      </div>
    </div>
    <div class="card">
      <%= image_tag "cuaderno.jpg", class:"card-img-top", alt:"cuaderno" %>
      <div class="card-body">
        <h5 class="card-title"><strong>Cuadernos y otros</strong></h5>
        <hr>
        <p class="card-text">Cuadernos con hojas rayadas, tazas.</p>
        <%= link_to 'Ver más', products_path(@product), class:'btn btn-secondary btn-sm' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--CONTACTO-->
  <section id="contact" class="container my-5">
    <h2 class="display-3 font-weight-bold text-center my-4">Contáctame</h2>
    <hr>
    <p class="text-center my-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam.
    </p>
    <div class="typeform-widget" data-url="https://marielamaggi.typeform.com/to/TyGHRK"
      style="width: 100%; height: 500px;"></div>
    <script>
      (function () {
        var qs, js, q, s, d = document,
          gi = d.getElementById,
          ce = d.createElement,
          gt = d.getElementsByTagName,
          id = "typef_orm",
          b = "https://embed.typeform.com/";
        if (!gi.call(d, id)) {
          js = ce.call(d, "script");
          js.id = id;
          js.src = b + "embed.js";
          q = gt.call(d, "script")[0];
          q.parentNode.insertBefore(js, q)
        }
      })()
    </script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a
        href="https://admin.typeform.com/signup?utm_campaign=fLLuDq&utm_source=typeform.com-15196623-Free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=ES"
        style="color: #999" target="_blank">Typeform</a>
    </div>
  </section>
</div>
<!--TERCERA IMAGEN-->
<div class="">
  <%= image_tag "primavera1.jpg", class: "img-fluid", alt:"primavera1" %>
</div>