<div class="container m-5 p-5">
<br>
<br>
<br>
    <section class="gallery-block compact-gallery">
        <div class="container">
            <div class="heading">
                <h3>Tus productos</h3>
                <hr>
            </div>
    <% if @orders.count > 0 %>
      <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Valor</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td> <%= order.product.product_name %> </td>
            <td><%= number_to_currency(order.price, precision: 0) %></td>
            <td> <%= order.quantity %> </td>
            <td><%= number_to_currency(order.price * order.quantity, precision: 0) %></td>
          </tr>
        <% end %>
        <tr class="table-dark">
        <td></td>
        <td></td>
        <td><strong>Total de la compra:</strong></td>
         <td><strong><%= number_to_currency(@total, precision: 0) %></strong></td>
        
        </tr>
      </tbody>
    </table>
    <div class="container pt-4">
    <%= link_to 'Limpiar carro', clean_orders_path, class: 'btn btn-outline-secondary'  %>
    <%= link_to 'Confirmar compra', pre_pay_billings_path, class: 'btn btn-info float-right' %>
    
    
    <% else %>
      <p>No tienes productos en tu carro de compra.</p>
    <% end %>
    </div>
  
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
  