<div class="container m-5 p-5">
  <br>
  <br>
  <p id="notice"><%= notice %></p>
  <h1>Products</h1>
  <div class="container">
    <div class="row">
      <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>
      <div class="col-md-3">
        <div class="card">
          <% if product.image.present? %>
          <% if product.image.attached? %>
          <%= image_tag product.image, size: "200x220" %>
          <% end %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= product.product_name %></h5>
            <p class="card-text"><%= product.size %></p>
            <p class="card-text"><%= product.features %></p>
            <p class="card-text"><%= number_to_currency(product.price, precision: 0) %></p>
            <br>
            <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn btn-success', method: :post  %>
            <br>
            <!--current_user.admin-->
            <% if current_user %>
            <%= link_to 'Edit', edit_product_path(product) %>
            <% end %>
            <!--current_user.admin-->
            <% if current_user %>
            <%= link_to 'Eliminar', product_path(product), class: 'btn btn-success', method: :delete, data: {confirm: 'Seguro?'} %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <div class="w-100" style="margin-top:20px;"> </div>
      <% end %>
    </div>
    <br>
    <br>
    <!--current_user.admin-->
    <% if current_user %>
    <button type="button" class="btn btn-outline-dark">
      <%= link_to 'New Product', new_product_path %>
    </button>
    <% end %>
    <br>
    <br>
    <button type="button" class="btn btn-outline-dark">
      <%= link_to 'Back', new_product_path %>
    </button>
    <br>
  </div>