<div class="container m-5 p-5">
  <br>
  <br>
  <br>
  <section class="gallery-block compact-gallery">
    <div class="container">
      <div class="heading">
        <h3>Tienda</h3>
        <hr>
      </div>
      <p id="notice"><%= notice %></p>
      <div class="container">
        <div class="row"><% @products.each_slice(4) do |row| %><% row.each do |product| %>
          <div class="col-md-3">
            <div class="card">
              <% if product.image.present? %><% if product.image.attached? %><%= image_tag product.image, size: "200x220" %><% end %><% end %>
              <div class="card-body">
                <h5 class="card-title"><%= product.product_name %>
                </h5>
                <hr>
                <p class="card-text"><%= product.size %>
                </p>
                <p class="card-text"><%= product.features %>
                </p>
                <p class="card-text"><%= number_to_currency(product.price, precision: 0) %>
                </p>
                <br>
                <%= link_to "Agregar al carrito", product_orders_path(product), class: 'btn btn-secondary btn-sm', method: :post  %>
                <br>
                <% if current_user %>
                <hr>
                <% end %>
                <!--current_user.admin-->
                <% if current_user %>
                <%= link_to 'Editar', edit_product_path(product), class: 'btn btn-info btn-sm' %><% end %>
                <!--current_user.admin-->
                <% if current_user %>
                <%= link_to 'Eliminar', product_path(product), class: 'btn btn-info btn-sm', method: :delete, data: {confirm: 'Seguro?'} %><% end %>
              </div>
            </div>
          </div><% end %>
          <div class="w-100" style="margin-top:20px;"></div><% end %>
        </div>
        <br>
        <br>
        <!--current_user.admin-->
        <% if current_user %>
        <%= link_to 'Nuevo producto', new_product_path, class:'btn btn-secondary' %>
        <% end %>
        <br>
        <br>
        <%= link_to 'Atrás', new_product_path, class:'btn btn-secondary' %>
        <br>
</div>
</div>