<div class="container m-5 p-5">
<br>
<br>
<br>
<p id="notice"><%= notice %></p>
<hr>

<% if @product.image.attached? %>
  <p>
    <strong>Images:</strong>
    <br>
    <% @product.image do |image| %>
    <%= image_tag image.variant(resize: "200x220") %>
    <% end %>
  </p>
<% end %>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Features:</strong>
  <%= @product.features %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Atrás', products_path %>

<br>
<br>
</div>
