<!DOCTYPE html>
<html>

  <head>
    <!--ICONO PESTAÑA-->
    <link rel="shortcut icon" href="/assets/mlogo50x50.svg">
    <!--CSS-->
    <link rel="stylesheet" href="application.css">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--GOOGLEFONTS-->
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <!--TITULO-->
    <title>MAGGI</title>
    <!--BOOSTRAP-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="compact-gallery.css">
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </head>

<body>

<!--NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top text-white p-3 px-5">

     <!--LOGO CON LINK AL HOME PAGE-->
     <a class="navbar-brand" href="#">
          <!--<%= link_to 'PORTAFOLIO', home_index_path %>-->
          <%= link_to home_index_path(@home) do %>
          <img src="/assets/logo_navbar.svg" width="150" height="30" alt="logo">
          <% end %>
        </a>
  
  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav mr-auto">
      
  
    
    
    </div>
   
    <div class="navbar-text">
       

        <!--CATEGORIAS DROPDOWN-->
        <div class="nav-item dropdown active ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorías
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

           <div class="dropdown-item text-dark">
            <%= link_to 'Galería', galleries_index_path(@galleries) %>
            </div>
           
            <div class="dropdown-item text-dark">
            <%= link_to 'Tienda', products_path(@product) %>
            </div>


            
            <a class="dropdown-item text-dark" href="#">Blog</a>



          </div>
        </div>
      
      <!--ICONOS-->

         <%= link_to orders_path(@order) do %>
        <i class="text-muted fas fa-shopping-cart"></i>
        <% end %>
        <%= link_to new_user_session_path(@user) do %>
        <i class="text-muted far fa-user-circle"></i>
        <% end %>
        <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>





    </div>
  </div>
  </div>
</nav>



<div class="body1">
  <!-- Image and text -->
  <% if alert.present? %>
      <div class="alert alert-warning" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
  <%= yield %>
  </div>


<!--FOOTER-->

<footer>
  <div class="container text-center col md-4 p-4">
    <div class="p-2 mb-2 pb-4">
      <a  href="https://www.instagram.com/mariela__maggi/" target="blank"><i class="fab fa-instagram text-white fa-2x px-3"></i></a>
      <a  href="https://www.facebook.com/maggiflux/" target="blank"><i class="fab fa-facebook-f text-white fa-2x pr-2 px-3"></i></a>
      <a  href="https://www.behance.net/maggiflux" target="blank"><i class="fab fa-behance text-white fa-2x px-3"></i></a>
   </div>
   <h6 class="text-center text-white text-weight-bolder">Todos los derechos reservados <i class="fab fa-creative-commons"></i>
    <br>
    Santiago, Chile. 2020</h6>
    </div>
</footer>

</body>
</html>