<!DOCTYPE html>
<html>

  <head>
    <!--ICONO PESTAÑA-->
    <link rel="shortcut icon" href="/assets/mlogo50x50.svg">
    <!--CSS-->
    <link rel="stylesheet" href="application.css">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--GOOGLEFONTS-->
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <!--TITULO-->
    <title>MAGGI</title>
    <!--BOOSTRAP-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<body>

<!-- Navigation -->
<nav id="barra" class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top text-white p-4 px-5">
  <div class="container">
    <a class="navbar-brand" href="#">
    <%= link_to home_index_path(@home) do %>
          <%= image_tag "logo_navbar.svg", width:"160", height:"40", alt:"logo" %>
          <% end %>
          </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active px-1">
          <a class="">
                <%= link_to 'Galería', galleries_index_path(@galleries), class:"text-white" %>
              </a>
        </li>
        <li class="nav-item px-3">
          <a class="">
          <%= link_to 'Tienda', products_path(@product), class:"text-white" %></a>
        </li>
        <li class="nav-item">
          <a class="" >
        
         <%= link_to "Sign in / ", new_user_session_path(@user), class:"text-white" %>
         
        <%= link_to "Sign out", destroy_user_session_path, class:"text-white", method: :delete %>


        <%= link_to orders_path(@order) do %>
          <i class="text-white fas fa-shopping-cart px-2"></i>
       <% end %>


          
       
       
        </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="body1">
  <!-- Image and text -->
    <% if alert.present? %>
      <div class="alert alert-warning" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <% if notice.present? %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
  <%= yield %>
  </div>


<!--FOOTER-->

<footer>
  <div class="container text-center col md-4 p-4">
    <div class="p-2 mb-2 pb-4">
      <a  href="https://www.instagram.com/mariela__maggi/" target="blank"><i class="fab fa-instagram text-white fa-2x px-3"></i></a>
      <a  href="https://www.facebook.com/maggiflux/" target="blank"><i class="fab fa-facebook-f text-white fa-2x pr-2 px-3"></i></a>
      <a  href="https://www.behance.net/maggiflux" target="blank"><i class="fab fa-behance text-white fa-2x px-3"></i></a>
   </div>
    <small>Copyright &copy; Santiago, Chile. 2020</small>
    <br>
    </div>
</footer>

</body>
</html>